In [1]:
import tabula
import pandas as pd
from tabula import read_pdf
import PyPDF2
import re
import pickle

In [2]:
class pdf_scraping:
    
    def __init__(self,crd):
        self.crd = crd
    
    def get_pagenum(self):
        # open the pdf file
        pdfFileObject = open(str(self.crd) + '.pdf', 'rb')
        Object = PyPDF2.PdfFileReader(pdfFileObject)
        # get number of pages
        NumPages = Object.getNumPages()
        return NumPages

    def show_df(self,page):
        if page <= self.get_pagenum():
            f = tabula.read_pdf(str(self.crd) + '.pdf', pages=page, multiple_tables=True,guess=False, stream=True)[0]
            return f
        else:
            print("The page number you entered exceed the max page number in the PDF, reenter a smaller page number")

    def count_numOf_privateFund(self):
        pageNum = self.get_pagenum()
        f = tabula.read_pdf(str(self.crd) + '.pdf', pages=min(25,pageNum),multiple_tables=True,guess=False, stream=True)
        count = len(f[0][f[0]['FORM ADV'] == 'A. PRIVATE FUND'])
        print("The number of private funds of the firm with crd number {0} is: {1}".format(self.crd,count))

        return count 
    
    @classmethod
    def Private_fund_dictionary(cls,num):
        count = 0
        dic = {}
        missing_crd = []
        for item in l[:num]:            
            try:
                s = cls(item)
                #s.count_numOf_privateFund()
                dic[str(item)] = s.count_numOf_privateFund()
                count +=1
            except:
                missing_crd.append(item)
                print("Error: crd number {} ".format(item))
        
        output_df = pd.DataFrame(dic.items(),columns=['CRD_Number', 'Number of Private Fund'])
        return output_df, missing_crd

In [3]:
with open ('/Users/guapofish/crdlist_FILE', 'rb') as fp:
        l = pickle.load(fp)
        
df, missingCRD = pdf_scraping.Private_fund_dictionary(100)

The number of private funds of the firm with crd number 133693 is: 1
The number of private funds of the firm with crd number 282351 is: 0
The number of private funds of the firm with crd number 145800 is: 0
The number of private funds of the firm with crd number 285650 is: 0
The number of private funds of the firm with crd number 105957 is: 3
The number of private funds of the firm with crd number 159529 is: 2
The number of private funds of the firm with crd number 148532 is: 0
The number of private funds of the firm with crd number 106752 is: 0
The number of private funds of the firm with crd number 299599 is: 1
The number of private funds of the firm with crd number 148615 is: 0
The number of private funds of the firm with crd number 162954 is: 3
The number of private funds of the firm with crd number 285106 is: 0
The number of private funds of the firm with crd number 139610 is: 0
The number of private funds of the firm with crd number 110522 is: 1
The number of private funds of the firm with crd number 145627 is: 1
The number of private funds of the firm with crd number 167688 is: 0
The number of private funds of the firm with crd number 111938 is: 0
The number of private funds of the firm with crd number 147379 is: 3
The number of private funds of the firm with crd number 157214 is: 4
The number of private funds of the firm with crd number 110047 is: 0
The number of private funds of the firm with crd number 135130 is: 0
The number of private funds of the firm with crd number 299099 is: 5
The number of private funds of the firm with crd number 107496 is: 0
The number of private funds of the firm with crd number 139417 is: 0
The number of private funds of the firm with crd number 281558 is: 0
The number of private funds of the firm with crd number 111243 is: 0
The number of private funds of the firm with crd number 111598 is: 0
The number of private funds of the firm with crd number 162690 is: 0
The number of private funds of the firm with crd number 165444 is: 0
The number of private funds of the firm with crd number 153781 is: 0
The number of private funds of the firm with crd number 111363 is: 0
The number of private funds of the firm with crd number 107607 is: 0
The number of private funds of the firm with crd number 174427 is: 0
The number of private funds of the firm with crd number 162442 is: 0
The number of private funds of the firm with crd number 109612 is: 0
The number of private funds of the firm with crd number 128377 is: 0
The number of private funds of the firm with crd number 119099 is: 0
The number of private funds of the firm with crd number 290954 is: 0
The number of private funds of the firm with crd number 292390 is: 0
The number of private funds of the firm with crd number 125118 is: 0
The number of private funds of the firm with crd number 289489 is: 0
The number of private funds of the firm with crd number 294229 is: 1
The number of private funds of the firm with crd number 108989 is: 0
The number of private funds of the firm with crd number 288127 is: 2
The number of private funds of the firm with crd number 297036 is: 0
The number of private funds of the firm with crd number 157907 is: 2
The number of private funds of the firm with crd number 111815 is: 0
The number of private funds of the firm with crd number 283762 is: 0
The number of private funds of the firm with crd number 160460 is: 0
The number of private funds of the firm with crd number 137872 is: 0
The number of private funds of the firm with crd number 111230 is: 0
The number of private funds of the firm with crd number 108583 is: 0
The number of private funds of the firm with crd number 157626 is: 0
The number of private funds of the firm with crd number 105507 is: 0
The number of private funds of the firm with crd number 116760 is: 0
The number of private funds of the firm with crd number 288534 is: 2
The number of private funds of the firm with crd number 108347 is: 0
The number of private funds of the firm with crd number 137830 is: 0
The number of private funds of the firm with crd number 106617 is: 0
The number of private funds of the firm with crd number 144369 is: 2
The number of private funds of the firm with crd number 169787 is: 0
The number of private funds of the firm with crd number 161098 is: 2
The number of private funds of the firm with crd number 141634 is: 0
The number of private funds of the firm with crd number 163833 is: 0
The number of private funds of the firm with crd number 168456 is: 2
The number of private funds of the firm with crd number 104649 is: 0
The number of private funds of the firm with crd number 161191 is: 3
The number of private funds of the firm with crd number 164405 is: 0
The number of private funds of the firm with crd number 291440 is: 2
The number of private funds of the firm with crd number 163341 is: 5
The number of private funds of the firm with crd number 168266 is: 0
The number of private funds of the firm with crd number 127351 is: 0
The number of private funds of the firm with crd number 25536 is: 0
The number of private funds of the firm with crd number 170377 is: 1
The number of private funds of the firm with crd number 146082 is: 0
The number of private funds of the firm with crd number 137894 is: 0
The number of private funds of the firm with crd number 150374 is: 0
The number of private funds of the firm with crd number 105510 is: 2
The number of private funds of the firm with crd number 297643 is: 0
The number of private funds of the firm with crd number 106043 is: 0
The number of private funds of the firm with crd number 283006 is: 2
The number of private funds of the firm with crd number 143567 is: 2
The number of private funds of the firm with crd number 300267 is: 0
The number of private funds of the firm with crd number 126942 is: 0
The number of private funds of the firm with crd number 111824 is: 0
The number of private funds of the firm with crd number 106006 is: 0
The number of private funds of the firm with crd number 165459 is: 2
The number of private funds of the firm with crd number 145694 is: 0
The number of private funds of the firm with crd number 283578 is: 1
The number of private funds of the firm with crd number 143606 is: 1
The number of private funds of the firm with crd number 120006 is: 0
The number of private funds of the firm with crd number 164039 is: 0
The number of private funds of the firm with crd number 226615 is: 1
The number of private funds of the firm with crd number 293271 is: 3
The number of private funds of the firm with crd number 294460 is: 1
The number of private funds of the firm with crd number 294044 is: 3
The number of private funds of the firm with crd number 39285 is: 0
The number of private funds of the firm with crd number 106228 is: 0
The number of private funds of the firm with crd number 292296 is: 3
The number of private funds of the firm with crd number 106262 is: 0

In [7]:
df.sort_values('Number of Private Fund', ascending=False).head(10)

   CRD_Number  Number of Private Fund
21     299099                       5
69     163341                       5
18     157214                       4
10     162954                       3
98     292296                       3
4      105957                       3
17     147379                       3
95     294044                       3
66     161191                       3
93     293271                       3

In [8]:
df = pdf_scraping(291440)
df.show_df(24)

                                               FORM ADV
0     UNIFORM APPLICATION FOR INVESTMENT ADVISER REG...
1     Primary Business Name: BLUE SPARROW PARTNERS L...
2          Annual Amendment - All Sections Rev. 10/2017
3                                  1/14/2020 6:03:41 PM
4     WARNING: Complete this form truthfully. False ...
...                                                 ...
1095  (2) your related person(s) act as qualified cu...
1096  If you checked "yes" to Item 9.D.(2), all rela...
1097  identified in Section 7.A. of Schedule D, rega...
1098  E. If you are filing your annual updating amen...
1099          date (MM/YYYY) the examination commenced:

[1100 rows x 1 columns]

In [24]:
df = pdf_scraping('HighGate')
df.show_df(25)

                                               FORM ADV
0     UNIFORM APPLICATION FOR INVESTMENT ADVISER REG...
1     Primary Business Name: HIGHBAR PARTNERS CRD Nu...
2     SEC Initial, SEC ERA Final, State ERA Final - ...
3                                   1/8/2020 1:45:51 PM
4     WARNING: Complete this form truthfully. False ...
...                                                 ...
1143  22. If yes, provide the private fund's Form D ...
1144                               No Information Filed
1145                               B. SERVICE PROVIDERS
1146                                           Auditors
1147                                             Yes No

[1148 rows x 1 columns]

In [59]:
df = pdf_scraping('HighGate')
df.show_df(26)

,16. What is the approximate percentage of the private fund beneficially owned by non-United States persons:,Unnamed: 0,Unnamed: 1
0,0%,NaN,NaN
1,Your Advisory Services,NaN,NaN
2,NaN,Yes,No
3,17. (a) Are you a subadviser to this private f...,NaN,NaN
4,"(b) If the answer to question 17.(a) is ""yes,""...",NaN,NaN
...,...,...,...
62,(b) Legal name of custodian:,NaN,NaN
63,FIRST REPUBLIC BANK,NaN,NaN
64,(c) Primary business name of custodian:,NaN,NaN
65,FIRST REPUBLIC BANK,NaN,NaN
66,(d) The location of the custodian's office res...,NaN,NaN