In [1]:
import wrds

In [2]:
db = wrds.Connection(wrds_username='geert')

Enter your WRDS username [ruxin]:geert
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [3]:
db.create_pgpass_file()

In [4]:
db.close()

In [5]:
db = wrds.Connection(wrds_username='geert')

Loading library list...
Done

In [8]:
db.get_table('djones', 'djdaily', obs=10)

         date   djc  djct    dji  djit   djt  djtt   dju  djut
0  1896-05-26  None  None  40.94  None  None  None  None  None
1  1896-05-27  None  None  40.58  None  None  None  None  None
2  1896-05-28  None  None  40.20  None  None  None  None  None
3  1896-05-29  None  None  40.63  None  None  None  None  None
4  1896-06-01  None  None  40.60  None  None  None  None  None
5  1896-06-02  None  None  40.04  None  None  None  None  None
6  1896-06-03  None  None  39.77  None  None  None  None  None
7  1896-06-04  None  None  39.94  None  None  None  None  None
8  1896-06-05  None  None  40.32  None  None  None  None  None
9  1896-06-08  None  None  39.81  None  None  None  None  None

In [9]:
db.list_libraries()

['wrds_lib_internal',
 'centris',
 'gmi_all_new',
 'secsamp_all_new',
 'compnad',
 'mflinks_all_new',
 'comp_emdb_daily',
 'comp_emdb_monthly',
 'comp_filings',
 'trown',
 'trsdcgs',
 'twoiq',
 'infogroup_business_academic',
 'crsp_a_treasuries',
 'infogroup_residential',
 'crsp_q_treasuries',
 'crsp_q_stock',
 'crsp_q_ccm',
 'crsp_q_indexhist',
 'iss_va_shareholder',
 'crsp_q_indexes',
 'ciq_keydev',
 'bvd_bvdbankf',
 'lspdsamp',
 'optionmsamp_europe',
 'ktmine_patents_samp',
 'optionmsamp_us',
 'omtrial',
 'ppubsamp_d4d_new',
 'ktsamp',
 'ravenpack_trial',
 'rpnasamp',
 'risk_votes',
 'taqm_2003',
 'taqm_2004',
 'crsp_q_mutualfunds',
 'ginsight_basic',
 'ginsight_common',
 'levin',
 'mfl',
 'tfn',
 'reprisk_sample',
 'ppubsamp_d4d',
 'mrktsamp_cds',
 'mrktsamp_msf',
 'ims_obp_trial',
 'infogroupsamp_residential',
 'wappsamp',
 'imssamp',
 'sustsamp',
 'repsamp',
 'ifgrsamp',
 'infogroupsamp_business',
 'mrktsamp',
 'hfrsamp_hfrdb',
 'mrktsamp_cdx',
 'twoiq_samp',
 'lvnsamp',
 'twoiqsmp',
 'hfrsamp',
 'zacksamp',
 'pwt',
 'risksamp',
 'tass',
 'taqm_2019',
 'taqm_2016',
 'bvd_orbis_medium',
 'boardsmp',
 'aha',
 'ahasamp',
 'comscore',
 'bank',
 'blab',
 'block',
 'audit',
 'bvdlgcy',
 'bvdsamp',
 'calcbnch',
 'ciqsamp',
 'cisdm',
 'clrvt',
 'clrvtsmp',
 'compb',
 'compg',
 'comph',
 'compm',
 'compmcur',
 'compsamp',
 'contrib',
 'crsp',
 'compsnap',
 'crspa',
 'csmar',
 'crspq',
 'crspsamp',
 'dealscan',
 'djones',
 'dmef',
 'crspm',
 'doe',
 'emdb',
 'etfg',
 'etfgsamp',
 'eureka',
 'evts',
 'factset',
 'fisd',
 'fisdsamp',
 'frb',
 'fssamp',
 'ftsesamp',
 'ginsight',
 'gmi',
 'govpx',
 'govpxsmp',
 'gsi',
 'hbase',
 'iri',
 'hbsamp',
 'hfr',
 'ibeskpi',
 'ifgr',
 'ims',
 'issm',
 'kld',
 'ktmine',
 'lspd',
 'macrofin',
 'msrb',
 'nastraq',
 'optionm',
 'pacap',
 'phlx',
 'ppublica',
 'taq',
 'ppubsamp',
 'public',
 'rent',
 'reprisk',
 'risk',
 'secsamp',
 'snapsamp',
 'snl',
 'snlsamp',
 'sprat',
 'sustain',
 'taqmsec',
 'totalq',
 'toyo',
 'wcai',
 'wqa',
 'wrdsapps',
 'iss_incentive_lab',
 'iss_incentive_lab_europe',
 'iss_va_mf',
 'taqm_2015',
 'taqm_2017',
 'ibes',
 'fisd_naic',
 'revere',
 'tr_13f',
 'compa',
 'cboe',
 'tr_tass',
 'bvd_orbis_large',
 'bvd_orbis_small',
 'ciq_ratings',
 'tr_insiders',
 'risk_directors',
 'risk_governance',
 'risk_proposals',
 'taqm_2018',
 'comp_execucomp',
 'execcomp',
 'tr_ibes_guidance',
 'trws',
 'tr_worldscope',
 'ciq',
 'comp_snapshot',
 'tr_mutualfunds',
 'rpna',
 'bvd_ama_large',
 'bvd_ama_medium',
 'ravenpack_common',
 'trace',
 'bvd_ama_verylarge',
 'bvd_ama_small',
 'bvd',
 'boardex_trial',
 'comp_bank',
 'comp_segments_hist',
 'etfg_samp',
 'aha_sample',
 'contrib_char_returns',
 'audit_corp_legal',
 'trace_enhanced',
 'trace_standard',
 'tr_dealscan',
 'iss_issrecs',
 'iss_va_vote_global',
 'iss_va_vote_us',
 'comp_global',
 'fisd_fisd',
 'ftse',
 'crsp_a_ccm',
 'crsp_a_indexes',
 'crsp_a_stock',
 'calcbench_trial',
 'taqm_2012',
 'taqm_2013',
 'taqm_2014',
 'eurekahedge_sample',
 'factsamp_revere',
 'hbase_sample',
 'macrofin_comm_trade',
 'taqm_2005',
 'taqm_2006',
 'taqm_2007',
 'taqm_2008',
 'taqm_2009',
 'taqm_2010',
 'taqm_2011',
 'ff_all_new',
 'ff',
 'ciq_common',
 'compdcur',
 'wrdssec',
 'ibescorp',
 'zacks',
 'wrdsrpts',
 'boardex_row',
 'boardex_eur',
 'msfanly',
 'boardex_uk',
 'msfinst',
 'wrdsrpts_rep_usage',
 'wrdssec_common',
 'boardex',
 'tr_ibes',
 'sdc',
 'kld_histall',
 'audit_audit_comp',
 'snlsamp_fig',
 'comp_global_daily',
 'compgd',
 'comp_bank_daily',
 'compbd',
 'comp_segments_hist_daily',
 'compseg',
 'compsegd',
 'boardex_na',
 'otc_endofday',
 'otc',
 'wrdssec_secsa',
 'markit',
 'comp',
 'compd']

In [14]:
db.list_tables(library='twoiq')

['chars', 'insiderfeedglobal', 'insiderfeedglobalaggregated']

In [15]:
db.describe_table(library='twoiq',table='chars')

Approximately 0 rows in twoiq.chars.

                        name  nullable              type
0                      gvkey      True        VARCHAR(6)
1                companyname      True      VARCHAR(100)
2                companyisin      True       VARCHAR(16)
3               companysedol      True       VARCHAR(16)
4                insidername      True      VARCHAR(100)
5            insiderrelation      True      VARCHAR(100)
6               insiderlevel      True        VARCHAR(1)
7             connectiontype      True       VARCHAR(25)
8       connectedinsidername      True      VARCHAR(100)
9   connectedinsiderposition      True      VARCHAR(100)
10           transactiontype      True       VARCHAR(50)
11          transactionlabel      True       VARCHAR(50)
12                       iid      True        VARCHAR(9)
13              securityisin      True       VARCHAR(16)
14             securitysedol      True       VARCHAR(16)
15           securitydisplay      True      VARCHAR(100)
16                assetclass      True      VARCHAR(100)
17                  currency      True        VARCHAR(3)
18                      unit      True        VARCHAR(5)
19                    source      True        VARCHAR(3)
20                 filingurl      True      VARCHAR(200)
21                  exchange      True      VARCHAR(100)
22                 inputdate      True              DATE
23                 tradedate      True              DATE
24              maxtradedate      True              DATE
25             transactionid      True  DOUBLE PRECISION
26                 insiderid      True  DOUBLE PRECISION
27                    shares      True  DOUBLE PRECISION
28                     price      True  DOUBLE PRECISION
29                  maxprice      True  DOUBLE PRECISION
30                     value      True  DOUBLE PRECISION
31                  valueeur      True  DOUBLE PRECISION
32    correctedtransactionid      True  DOUBLE PRECISION
33         tradesignificance      True  DOUBLE PRECISION
34                  holdings      True  DOUBLE PRECISION

In [39]:
db.close()