In [2]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
import datetime

In [6]:
#table=pd.read_csv('etfs_eur_details_category.csv')
symbol=['SPY', 'IYR', 'IWN', 'EFA',
       'TLT', 'EEM', 'GSG', 'USIG', 'IGF', 'HYG', 'UUP', 'VXX', 'SHV']

yf.pdr_override() 

stocks = symbol
start = datetime.datetime(2017,12,29)
end = datetime.datetime(2019,9,30)

f = pdr.get_data_yahoo(stocks, start=start, end=end)
data = f['Adj Close'].dropna()

[*********************100%***********************]  13 of 13 downloaded

In [7]:
data.head()

,EEM,EFA,GSG,HYG,IGF,IWN,IYR,SHV,SPY,TLT,USIG,UUP,VXX
Date,,,,,,,,,,,,,
2017-12-29,46.121323,68.206909,16.280001,81.670593,43.731644,123.096268,77.778023,107.801216,260.737061,122.692139,53.188530,23.774323,27.920000
2018-01-02,46.992458,68.711357,16.370001,81.745468,43.983086,124.153481,77.384377,107.791451,262.603241,121.367157,53.027111,23.675386,26.950001
2018-01-03,47.442711,69.041183,16.540001,82.138557,43.983086,124.016434,77.259567,107.791451,264.264221,121.947433,53.069843,23.764429,26.379999
2018-01-04,47.677624,69.797859,16.540001,82.278984,44.282883,124.290520,76.049835,107.810997,265.378052,121.928093,53.098328,23.685280,26.320000
2018-01-05,48.088726,70.185890,16.400000,82.335114,44.408600,124.486298,76.126648,107.810997,267.146545,121.579933,53.046101,23.705065,26.280001